<div class="container">
  <div class="row mt-5">
    <div class="col-lg-6">
      <h4>Pokemon info</h4>
      <dl>
        <dt>Name</dt>
        <dd><%= @pokemon_name %></dd>
      </dl>
    </div>
  </div>
  <%= link_to 'Back', :back, class: "btn btn-primary" %>
</div>